body {
    font-size: 20px;
background-color: f1f1f1;
font-weight: 700;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
.link{
    background-color: antiquewhite;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
  padding: 20px ;
}
.button{
  background-color: aqua;
  width: 8%;
  border-radius: 7%;
  padding: 15px 20px;
  font-family:inherit;
  cursor: pointer;

}

